#!___PYTHON_PATH_PLACEHOLDER___
# script to cancel a reservation, given a res_id

import getopt
import sys
import string
import Catalina
import copy

RESERVATIONS_DB = Catalina.RESERVATIONS_DB

usage_string = \
"""
Usage: cancel_res [--res=<res id>[,<res id>...]]
                  [--?]
                  [--help]"""

options = ['res=',
  '?',
  'help'
  ]
args = sys.argv[1:]
argdict = {}
optlist, lineargs = getopt.getopt(args, '', options)
for pair in optlist:
        argdict[pair[0]] = pair[1]

if argdict.has_key('--?') or argdict.has_key('--help') :
    print usage_string
    sys.exit(0)

if not argdict.has_key('--res') :
    print "--res=<res_id> required!"
    print usage_string
    sys.exit(1)
else :
    res_list = string.split(argdict['--res'], ",")
    events_db_handle = Catalina.open_db(Catalina.EVENTS_DB,'write');
    db_handle = Catalina.open_db(RESERVATIONS_DB,'write');
    for res_name in res_list :
        event = {
          'name' : 'cancel_res',
          'res' : copy.deepcopy(db_handle[0][res_name]),
        }
        Catalina.log_event(event, events_db_handle)
        Catalina.delete_object(res_name, db_handle)
    Catalina.close_db(db_handle)
    Catalina.close_db(events_db_handle)
