#!___PYTHON_PATH_PLACEHOLDER___

import sys
sys.path.append('___HOMEDIR_PLACEHOLDER___')
import Catalina
import math
import string
import getopt

options = [
  '?',
  'help',
  'jobs',
  'resources',
  'reservations'
]

default_argdict = {
  '--jobs' : None
}

usage_string = \
"""
Usage: qp.sdsc [--help]
               [--resources]
               [--jobs]
               [--reservations]
               [--?]
"""
args = sys.argv[1:]
if len(args) == 0 :
    argdict = default_argdict
else :
    argdict = {}
    try :
        optlist, lineargs = getopt.getopt(args, '', options)
    except :
        print usage_string
        sys.exit(1)
    for pair in optlist:
        argdict[pair[0]] = pair[1]

if argdict.has_key('--?') or argdict.has_key('--help') :
    print usage_string
    sys.exit(0)

if argdict.has_key('--jobs') :
    db_handle = Catalina.open_ro_db(Catalina.JOBS_DB,'read')
    object_list = Catalina.get_object_list(db_handle)
elif argdict.has_key('--resources') :
    db_handle = Catalina.open_ro_db(Catalina.RESOURCE_DB,'read')
    object_list = Catalina.get_object_list(db_handle)
elif argdict.has_key('--reservations') :
    db_handle = Catalina.open_ro_db(Catalina.RESERVATIONS_DB,'read')
    object_list = Catalina.get_object_list(db_handle)

for object in object_list :
    print object

Catalina.close_ro_db(db_handle)
