#!___PYTHON_PATH_PLACEHOLDER___
# script to initialize databases

import Catalina

RESOURCES_DB = 'resource'
JOBS_DB = 'jobs'
RESERVATIONS_DB = 'reservations'
STANDING_RESERVATIONS_DB = 'standing_reservations'
CONFIGURATION_DB = 'configuration'
CONFIGURED_RESOURCES_DB = 'configured_resources'
EVENTS_DB = 'events'
OLD_JOBS_DB = 'old_jobs'
OLD_RESERVATIONS_DB = 'old_reservations'

Catalina.initialize_db(CONFIGURATION_DB)
Catalina.initialize_db(CONFIGURED_RESOURCES_DB)
Catalina.initialize_db(EVENTS_DB)
Catalina.initialize_db(JOBS_DB)
Catalina.initialize_db(OLD_JOBS_DB)
Catalina.initialize_db(OLD_RESERVATIONS_DB)
Catalina.initialize_db(RESERVATIONS_DB)
Catalina.initialize_db(RESOURCES_DB)
Catalina.initialize_db(STANDING_RESERVATIONS_DB)

