#!___PYTHON_PATH_PLACEHOLDER___
# script to update the resource database

import Catalina

CONFIGURED_RESOURCES_DB = 'configured_resources'
resources_db_handle = Catalina.open_db(Catalina.RESOURCE_DB,'read')

db_handle = Catalina.open_db(CONFIGURED_RESOURCES_DB,'write')
shelf = db_handle[0]
resources_list = Catalina.get_configured_resources_list(resources_db_handle)

for resource in resources_list :
    Catalina.insert_new_object(resource, db_handle)

Catalina.close_db(db_handle)
