#!___PYTHON_PATH_PLACEHOLDER___

import pyloadl
import sys

job = sys.argv[1]
action = sys.argv[2]

rc, err_obj = pyloadl.ll_preempt(job,pyloadl.RESUME_STEP)
print "rc from ll_preempt RESUME_STEP is >%d<" % (rc,)
