#include <stdio.h>
#include "/usr/lpp/LoadL/full/include/llapi.h"

main (int argc, char *argv[]) {
	LL_element *errObj = NULL;
	enum LL_preempt_op action;
	int rc, argindex, nodelistindex;

	/*rc = ll_preempt(LL_API_VERSION,&errObj,argv[1],PREEMPT_STEP);
	if (! strncmp(argv[2], "PREEMPT_STEP",11) ) {
		action = PREEMPT_STEP;
	} else if (! strncmp(argv[2], "RESUME_STEP",11) ) {
		action = RESUME_STEP;
	} else {
		printf("Invalid action (%s)!\n",argv[2]);
		exit(1);
	}
	rc = ll_preempt(LL_API_VERSION,&errObj,argv[1],action);
        */
	rc = ll_preempt(LL_API_VERSION,&errObj,argv[1],RESUME_STEP);
	printf("rc from ll_preempt is >%d<\n", rc);
/*
	printf("arg[1]is >%s<\n", argv[1]);
	printf("LL_API_VERSION >%d<\n", LL_API_VERSION);
	printf("PREEMPT_STEP >%d<\n", PREEMPT_STEP);
*/
	

}
