#!___PYTHON_PATH_PLACEHOLDER___
# resj_PBS <jobid>

import sys
import os
import string
import Catalina

jobid = sys.argv[1]

command = Catalina.RESUMECMD + ' ' + jobid
command_file = os.popen(command)
return_text = command_file.read()
rc = command_file.close()
if rc == None:
    rc = 0
print "(%s)" % (jobid, )
print "rc from qsig -s resume is >%s<" % rc

