#!___PYTHON_PATH_PLACEHOLDER___
# script to update the resource database

import Catalina
import getopt
import sys
import string

CONFIGURATION_DB = 'configuration'

options = ['key=']
args = sys.argv[1:]
argdict = {}
optlist, lineargs = getopt.getopt(args, '', options)
for pair in optlist:
    argdict[pair[0]] = pair[1]
if not argdict.has_key('--key') :
    print "'--key=<key>' required..."
    sys.exit(1)

configuration_db_handle = Catalina.open_ro_db(CONFIGURATION_DB,'read')
configuration_dict = configuration_db_handle[0]

print "%s:%s" % (argdict['--key'], configuration_dict[argdict['--key']])

Catalina.close_ro_db(configuration_db_handle)
