#!___PYTHON_PATH_PLACEHOLDER___

import Catalina
import time
import sys

CONFIGURATION_DB = Catalina.CONFIGURATION_DB

configuration_db_handle = Catalina.open_db(CONFIGURATION_DB,'write')
configuration_dict = configuration_db_handle[0]
configuration_dict['state'] = 'stopped'
Catalina.close_db(configuration_db_handle)

if len(sys.argv) > 1:
    times_to_check = int(sys.argv[1])
else:
    times_to_check = 60

active_pids = 1
times_checked = 0
while active_pids != 0 and times_checked < times_to_check :
    print "waiting for scheduling processes to end",
    times_checked = times_checked + 1
    active_pids = 0
    configuration_db_handle = Catalina.open_ro_db(CONFIGURATION_DB,'read')
    configuration_dict = configuration_db_handle[0]
    if configuration_dict.has_key('server_hosts_pidslist_dict') :
        hosts_pids_dict = configuration_dict['server_hosts_pidslist_dict']
        for key in hosts_pids_dict.keys() :
            if len(hosts_pids_dict[key]) > 0 :
                print hosts_pids_dict
                active_pids = 1
                time.sleep(7)
                break
    Catalina.close_ro_db(configuration_db_handle)
if active_pids > 0 :
    print "Some scheduling loops may still be active."
    print "Check: %s" % hosts_pids_dict
