#!___PYTHON_PATH_PLACEHOLDER___
# script to update the resource database

import Catalina

RESOURCE_DB = 'resource'
CONFIGURED_RESOURCES_DB = 'configured_resources'

cfg_resources_db_handle = Catalina.open_db(CONFIGURED_RESOURCES_DB,'read')
resource_db_handle = Catalina.open_db(RESOURCE_DB,'write')
resource_shelf = resource_db_handle[0]
resource_list = Catalina.Catalina____RESOURCEMANAGER_PLACEHOLDER___.get_resources_list()
cfg_resources_shelf = cfg_resources_db_handle[0]
cfg_resources_list = Catalina.Catalina____RESOURCEMANAGER_PLACEHOLDER___.get_configured_resources_list(resource_db_handle)

found_resource_names = []
#print "resource_list (%s)" % (resource_list,)
for resource in resource_list :
    print "doing %s" % resource['name']
    if resource['State'] == 'None' :
        print "%s has state 'None'" % resource['name']
    found_resource_names.append(resource['name'])
    if resource_shelf.has_key(resource['name']) :
        for key in resource.keys() :
            Catalina.update_object_attribute(key, resource[key],
              resource_shelf[resource['name']], resource_db_handle)
            if resource['name'] == 'tf001i' :
                print "key: %s value: %s" % (key, resource[key])
    else :
        Catalina.insert_new_object(resource, resource_db_handle)

for resource in cfg_resources_list :
    if not resource['name'] in found_resource_names :
        if resource['name'] in resource_shelf.keys() :
            for key in resource.keys() :
                Catalina.update_object_attribute(key, resource[key],
                  resource_shelf[resource['name']], resource_db_handle)
            Catalina.update_object_attribute('State', None,
              resource_shelf[resource['name']], resource_db_handle)
        else :
            Catalina.insert_new_object(resource, resource_db_handle)

Catalina.close_db(resource_db_handle)
Catalina.close_db(cfg_resources_db_handle)
