#!___PYTHON_PATH_PLACEHOLDER___
# script for a user to create a reservation for himself or herself

import sys
import Catalina
import time
import string
import re
import os
import pwd
import signal
import copy

signal.signal(signal.SIGTSTP,signal.SIG_IGN)
events_db_handle = Catalina.open_db(Catalina.EVENTS_DB,'write');
reservations_db_handle = Catalina.open_db(Catalina.RESERVATIONS_DB,'write');

usage_string = """ user_cancel_res res_id1,res_id2"""

res_id_collective_string = sys.argv[1]
res_id_list=res_id_collective_string.split(',')

for res_id in res_id_list :
    res_id_string = res_id

    res_id_reo = re.compile(r"\d+")

    if res_id_reo.match(res_id_string) == None :
        print "reservation (%s) has bad res_id format" % (res_id_string)
        continue
        #sys.exit(1)
    try :
        res_id_int = string.atoi(res_id_string)
    except :
        print "reservation (%s) has bad res_id format" % (res_id_string)
        continue

    username_string = pwd.getpwuid(os.getuid())[0]

    # Check for username in res_id
    try:
        old_res = Catalina.get_object(res_id_string, reservations_db_handle)
    except 'KeyNotFound' :
        print "reservation (%s) is not found! Unable to cancel" % (res_id_string)
        continue

    if not old_res['creator_string'] == username_string :
        print "reservation (%s) has other creator (%s)!" % \
        (old_res['name'], old_res['creator_string'])
        #print "Reservation has not been canceled!"
        #Catalina.close_db(reservations_db_handle)
        #Catalina.close_db(events_db_handle)
        #sys.exit(1)
        continue
    # If reached here, delete reservation

    try :
        event = {
        'name' : 'user_cancel_res',
        'datestamp' : Catalina.Now_float,
        'res' : copy.deepcopy(reservations_db_handle[0][res_id_string])
        }
        Catalina.log_event(event, events_db_handle)
        print "reservation (%s) is cancelled" % (res_id_string)
    except :
        print "Event log failure for (%s)!" % (res_id_string)
    try :    
        Catalina.delete_object(res_id_string, reservations_db_handle)
    except 'KeyNotFound':
        print "reservation (%s) is not found! Unable to cancel" % (res_id_string)
Catalina.close_db(reservations_db_handle)
Catalina.close_db(events_db_handle)
